@font-face {
    font-family: 'DigitalNumbers';
    src: local('Digital Numbers'), url("./fonts/DS-DIGI_Regular.ttf");
}

@font-face {
    font-family: 'DigitalNumbers';
    src: local('Digital Numbers'), url(./fonts/DS-DIGI_Bold.ttf);
    font-weight: bold;
}



