*{
    margin: 0;
}

.background {
    background-color: var(--main_bg);
    height: 100vh;
}

.mobile{
    display: none
}

@media (max-width: 1200px) {
    .background{
        display: none;
    }
    .mobile{
        display: flex;
        width: 100%;
        height: 100vh;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        font-size: 50px;
        align-items: center;
        text-align: center;        
    }
}

:root {
    --red: #E30613;
    --main_bg: #1F1E1F;
}