.logo img {
    padding: 1.875rem;
    width: 18vw;
}

.logo {
   background-size: cover;
   background-repeat: no-repeat;
   width: 25vw;
   min-height: 10vh;
   border-bottom-left-radius: 9px;
   border-bottom-right-radius: 128px;
}