.prompt{
    background: var(--nero);
    border: 6px var(--bianco) solid;
    border-radius: 20px;
    max-height: 82vh;
    color: var(--bianco);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 4.375rem;
    letter-spacing: 1px;
    line-height: 100px;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;   
    overflow-y: overlay;
    scrollbar-width: thin;
    scroll-behavior: smooth; 
}

.prompt::-webkit-scrollbar {
    width: 5px;
}

.prompt::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.prompt::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}